{% extends 'Doctor/Head.html' %}
{% load static %}
<html>
    <title>View Appoinments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        {% block content %}
        <br><br><br>
        <h1 align="center" style="color: 0F172B; font-weight: bold; font-style: inherit; font-family: 'Times New Roman',Times, seif;">Appointment</h1><br><br>
        <form method="post">
            {% csrf_token %}
            <div id="tab">
        <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
            <tr><td>User Name</td>
               
                 <td>Slot Date</td>
                 <td colspan=3 align="center">Action</td>
            </tr>
            {%for i in seld %}
            <tr>
                <td>{{i.User_id.name}}</td> 
             
                <td>{{i.slot_id.slot_date}}</td>
                <td><a href="{% url 'doctor:checkupdetails' i.id %}">Checkup Details</a></td>
                <td><a href="{% url 'doctor:view_checkup' i.id %}">View Checkup Details</a></td>
                <td><a href="{% url 'doctor:prescription' i.id%}">Add Prescription</a> | <a href="{% url 'doctor:reference' i.id%}">Refer</a></td>
            </tr>       
                {%endfor%}

            </table>
        </div>
        </form>
        <br><br><br><br><br><br><br>
        <br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>
    </html>
    {% endblock content %}
        