<html>
    <head>
    <title>Laboratory Home page</title>
    </head>
    <body>
        <a href="{% url 'Laboratory:Lab_myprofile' %}">My Profile</a><br></br>
        <a href="{% url 'Laboratory:Test_Details' %}">Test_Details</a><br></br>
        <a href="{% url 'Laboratory:viewcheckup' %}">View Checkup</a><br></br>
        <a href="{% url 'Laboratory:Complaint_Lab' %}">Complaint</a><br></br>

        <a href="{% url 'Laboratory:Description_lab' %}">FeedBack</a><br></br>
    </body>
    </html>
