{% extends 'Laboratory/Head.html' %}
{% load static %}
<html>
    <title>View User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        {% block content %}
        <br><br><h1 align="center" style="color: 0F172B; font-weight: bold; font-style: inherit; font-family: 'Times New Roman',Times, seif;">View Checkup</h1><br><br>
        <form method="post">
            {% csrf_token %}
            <div id="tab">
        <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
            <tr><td>SL.NO</td>
                <td>User Name</td>
                <td>Appoinment Date</td>
                <td>Test Type</td>
                <td>Test Name</td>
                <td>Test Details</td>
                <td>Checkup update</td>
            </tr>
            {%for i in seld %}
            <tr>
                <td>{{i.id}}</td> 
                <td>{{i.appoinment_id.User_id.name}}
                <td>{{i.appoinment_id.appoinment_date}}</td>
                <td>{{i.test_id.testtype}}</td>
                <td>{{i.test_id.name}}</td>
                <td>{{i.test_id.test_details}}</td>
                <td><a href="{% url 'Laboratory:Up_Checkup' i.id %}">Checkup Update</a></td>
                </tr>       
                {%endfor%}

            </table>
        </div>
        </form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>
    </html>
        {% endblock content %}
        